<header>

  <div class="bloco-input-projeto">
    <div class="input-selecao" >
      <input [(ngModel)]='projetoSelecao' (keyup)='this.observadorChange()' />
      <div class="img" (click)="this.gerenciaBotao(this.isDropDown)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
          <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
        </svg>
      </div>
    </div>
    <div class="item-input-selecao {{this.ajusteDropDown}}">
      <p *ngFor="let projeto of this.memoriaListaProjetos" (click)="this.selecionaItemComClick(projeto)">{{projeto.nome}}</p>
    </div>
  </div>

</header>

<nav *ngIf="this.isIframe" >

  <div class="fechar" (click)="this.gerenciaIframe(false)" >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
    </svg>
  </div>

  <app-iframe class="iframe" *ngIf="this.isIframe" [url]="projeto.videoInicialPlaylist" [nome]="projeto.nome" [id]="projeto.id" ></app-iframe>

</nav>

<footer>

  <iframe src="https://Clamant96.github.io/chat-connect-app" width="100%" height="400" frameborder="0" scrolling="no"></iframe>

</footer>
