<section>

  <div *ngIf="this.id == 1" class="bloco">
    <iframe src="https://www.youtube.com/embed/nODC1Jn059g" title="{{this.nome}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <div *ngIf="this.id == 4"  class="bloco">
    <iframe src="https://www.youtube.com/embed/Y7A-9lqqyXE" title="{{this.nome}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <div *ngIf="this.id == 5"  class="bloco">
    <iframe src="https://www.youtube.com/embed/V4WO_GcG754" title="{{this.nome}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <div *ngIf="this.id == 2"  class="bloco">
    <iframe src="https://www.youtube.com/embed/aDaEc7yo2yE" title="{{this.nome}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <div *ngIf="this.id == 3"  class="bloco">
    <iframe src="https://www.youtube.com/embed/MrKt4Gf_9PM" title="{{this.nome}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

</section>
